.main_details{
  padding: 0 10px 24px;  
  min-height: 278px;
}

.img_details {
  width: 100%;
}

.title_details {
  display: flex;
  justify-content: space-between;
}

.icon_img {
  margin: 0 10px;
}

.ingredient_details {
  margin: 10px;
  padding-left: 10px;
}

.instructions_details{
  margin: 10px 0;
}

.button_details:enabled {
  width: 360px;
  padding: 5px;
  background-color: #C9CBA3;
  font-weight: 600;
  font-style: italic;
  border: none;
  position: fixed;
  bottom: 0;
}

.button_details:disabled {
  width: 360px;
  padding: 5px;
  background-color: #c9c9c965;
  font-weight: 600;
  font-style: italic;
  border: none;
  position: fixed;
  bottom: 0;
}

.video_details{
  width: 100%;
}

input[type=checkbox] {
  margin-right: 5px;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}